.main-container{
  font-family: 'Courier New', Courier, monospace;

}

.grid-card {
  margin: 30px;
}

.title {
  padding-top: 20px;
  font-size: 35px;
  text-align: center;
}

.content-select {
  padding: 40px 30px 15px 30px;
}

.title-weather {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.title-news {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}
